<section class="blog-list">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1>Welcome to Our Blog</h1>
        <div *ngFor="let blogItem of blogList" class="blog-item">
          <h2>{{ blogItem.title }}</h2>
          <p>{{ blogItem.description | slice:0:50  }}</p>
          <p>{{ blogItem.dateCreated | date }}</p>
          <a [routerLink]="['/blog', blogItem.id]">Read more</a>
        </div>
      </div>
      <!-- Sidebar or additional content can be added here -->
    </div>
  </div>
</section>
