.upk-main-image {
    overflow: hidden;
    display: flex;
    width: 100%;
    .upk-blog-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.4s cubic-bezier(0.25, 0.75, 0.43, 1.01);
    }
}

img.upk-blog-image {
    border-radius: 10px;
  }